# Binaries
bin/
/mcplexer
*.exe

# Go
vendor/

# Environment
.env
*.db
data/

# Web UI
web/node_modules/
web/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Electron
electron/dist/
electron/release/
electron/resources/
electron/node_modules/

# Age keys
*.age
*.key

# Next.js
.next/

# Site
site/node_modules/
site/.next/
site/out/
